output
temp
*.epub
*.m4b
*.aac
*.wav

.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
build
dist-ssr
.__mf__temp
*.local
.turbo
__screenshots__
coverage
wrangler

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
.env.sentry-build-plugin
repomix-output.xml
*.ai.xml
.deploy-packages

.genkit
drizzle-zod
libs/schema/zod-core/api.ts
libs/schema/zod-core/checks.ts
libs/schema/zod-core/config.ts
libs/schema/zod-core/core.ts
libs/schema/zod-core/doc.ts
libs/schema/zod-core/errors.ts
libs/schema/zod-core/index.ts
libs/schema/zod-core/json-schema.ts
libs/schema/zod-core/parse.ts
libs/schema/zod-core/regexes.ts
libs/schema/zod-core/registries.ts
libs/schema/zod-core/schemas.ts
libs/schema/zod-core/standard-schema.ts
libs/schema/zod-core/to-json-schema.ts
libs/schema/zod-core/util.ts
libs/schema/zod-core/versions.ts
libs/schema/zod-core/zsf.ts
libs/schema/zod-core/tests/extend.test.ts
libs/schema/zod-core/tests/index.test.ts
libs/schema/zod-core/tests/locales/be.test.ts
libs/schema/zod-core/tests/locales/en.test.ts
libs/schema/zod-core/tests/locales/es.test.ts
libs/schema/zod-core/tests/locales/ru.test.ts
libs/schema/zod-core/tests/locales/tr.test.ts
